bin/

# Extraenous compilation output
*.so
*.o
*.a
*.dll
*.obj
*.lib
*.exe
## But not compiled third-party libraries
!third/**/*.so
!third/**/*.o
!third/**/*.a
!third/**/*.lib
!third/**/*.obj
!third/**/*.dll

# Personal sublime workspace
*.sublime-workspace

# Packaged output
packaged/
*.zip

# RenderDoc captures
captures/

# Bitmaps for debugging (e.g. font atlas)
*.bmp

# Personal notes
[Nn]otes/
Notes.md
