# Compilation output
bin/

# Extraenous compilation output
*.so
*.o
*.a
*.dll
*.obj
*.lib
*.exe
## But not compiled third-party libraries
!third/**/*.so
!third/**/*.o
!third/**/*.a
!third/**/*.lib
!third/**/*.obj
!third/**/*.dll

# Personal Sublime stuff
*.sublime-workspace

# Packaged output
/packaged/
*.zip
*.tar*

## Debugging stuff
# General debug folder
/debug/
# Profiling
*.spall

# Personal notes
[Nn]otes/
Notes.md
